<form #login="ngForm"
        class="form-signin"
        name="login"
        (ngSubmit) = "login.form.valid && onLogin()">
    <fieldset>
        <div class="text-center mb-4">
            Sign in to see a wonderful barchart ;)
        </div>
        <div class="form-label-group">
            <input type="email" 
                    id="inputEmail"
                    class="form-control"
                    name="loginId"
                    tabindex="1"
                    placeholder="Email"
                    [ngClass]="{ 'is-invalid': login.submitted && loginIdd.invalid }"
                    [(ngModel)]="loginId"
                    #loginIdd="ngModel"
                    required
                    emailValidator
            >
            <label for="inputEmail">Email address</label>
            <div *ngIf="login.submitted && loginIdd.invalid" class="invalid-feedback">
                <div *ngIf="loginIdd.errors.required">Email is required</div>
                <div *ngIf="!loginIdd.errors.required && loginIdd.errors.validEmail">Email is wrong</div>
            </div>
        </div>    
        <div class="form-label-group">
            <input id="inputPassword"
                    type="password"
                    class="form-control"
                    name="password"
                    tabindex="1"
                    placeholder="password"
                    [ngClass]="{ 'is-invalid': login.submitted && pass.invalid }"
                    [(ngModel)]="password"
                    #pass="ngModel"
                    required
            >
            <label for="inputPassword">Password</label>
            <div *ngIf="login.submitted && pass.invalid" class="invalid-feedback">
                <div *ngIf="pass.errors.required">Password is required</div>
                <div *ngIf="!pass.errors.required && pass.errors.validPassword">Password should contain lower and upper case letters, numbers, special symbols and be at least 8 characters long.</div>
            </div>
        </div>
        <div *ngIf="login.submitted" class="form-label-group">
            <div class="dummy-control form-control is-invalid invisible"></div>
            <div class="invalid-feedback">{{errMessage$|async}}</div>
        </div>     
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            <span *ngIf="formDisabled$|async"
                    class="spinner-border spinner-border-sm" 
                    role="status"
                    aria-hidden="true">
            </span>
            <span *ngIf="formDisabled$|async" class="sr-only">Sign in...</span>
            Sign in
        </button>
        <div class="text-center mb-4 my-4 mt-3">
            <a href="/register" (click) = "goRegister()">Do not have an account?</a>
        </div>
    </fieldset>
</form>
