<nav class="navbar navbar-dark
        fixed-top bg-dark
        flex-md-nowrap
        p-0 shadow dash-nav"
>
    <a href="#" class="navbar-brand col-sm-3 col-md-2 mr-0">Welcome {{loginId$|async}}</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link sign-out" href="#" (click) = "onSignout()">Sign out</a>
        </li>
    </ul>
</nav>
<div class="d-flex
            justify-content-between
            flex-wrap
            flex-md-nowrap
            align-items-center
            pt-2 pb-1 mb-2
            border-bottom
            feature-content"
>
    <h4 class="h4">Dashboard</h4>
</div>
<div class="my-2 w-100">
    <div class="chart">
        <canvas baseChart
            [datasets]="chartDataSets"
            [labels]="chartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
        </canvas>
    </div>
    <h4 class="h4">Features</h4>
        <div class="table-responsive">
            <form #add="ngForm"
                (ngSubmit)="add.form.valid && onAddNew()"
                novalidate
            >
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Importance</th>
                            <th>Quantity</th>
                        </tr>
                        <tr>
                        <th>
                            <div class="input-group input-group-sm">
                                <input 
                                    class="form-control"
                                    type="text"
                                    name="featureName"
                                    [ngClass]="{'is-invalid': add.submitted && fname.invalid}"
                                    [(ngModel)]="name"
                                    #fname = "ngModel"
                                    required
                                >
                                <div class="invalid-tooltip input-tooltip">
                                    Name is required.
                                </div>
                            </div>    
                        </th>
                        <th>
                            <div class="input-group input-group-sm">
                                <input 
                                    id="inputImportance"
                                    class="form-control"
                                    type="text"
                                    name="importance"
                                    [ngClass]="{'is-invalid': add.submitted && fi.invalid}"
                                    [(ngModel)]="importance"
                                    #fi = "ngModel"
                                    numValidator
                                    required
                                >
                                <div class="invalid-tooltip input-tooltip">
                                    Should be a number.
                                </div>
                            </div>    
                        </th>
                        <th>
                            <div class="input-group input-group-sm align-bottom">
                                <input 
                                    type="text"
                                    class="form-control"
                                    [ngClass]="{'is-invalid': add.submitted && fq.invalid}"
                                    [(ngModel)]="quantity"
                                    #fq = "ngModel"
                                    name="quantity"
                                    numValidator
                                    required
                                >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit">Add</button>
                                </div>
                                <div class="invalid-tooltip input-tooltip">
                                    Should be a number.
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let feature of features">
                        <td>{{feature.featureName}}</td>
                        <td>{{feature.importance}}</td>
                        <td>{{feature.quantity}}</td>
                    </tr>                   
                </tbody>
            </table>
        </form>
    </div>
</div>
