.bd-placeholder-img
    font-size: 1.125rem
    text-anchor: middle
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

@media (min-width: 768px)
    .bd-placeholder-img-lg
        font-size: 3.5rem

html,
body 
    height: 100%


body 
    display: -ms-flexbox
    display: flex
    -ms-flex-align: center
    align-items: center
    padding-top: 40px
    padding-bottom: 40px
    background-color: #f5f5f5

.form-signin
    width: 100%
    max-width: 420px
    padding: 15px
    margin: auto

.form-label-group 
    position: relative
    margin-bottom: 1rem

.form-label-group > input,
.form-label-group > label
    height: 3.125rem
    padding: .75rem

.form-label-group > label
    position: absolute
    top: 0
    left: 0
    display: block
    width: 100%
    margin-bottom: 0
    line-height: 1.5
    color: #495057
    pointer-events: none
    cursor: text
    border: 1px solid transparent
    border-radius: .25rem
    transition: all .1s ease-in-out

.form-label-group input::-webkit-input-placeholder
    color: transparent

.form-label-group input:-ms-input-placeholder
    color: transparent

.form-label-group input::-ms-input-placeholder
    color: transparent

.form-label-group input::-moz-placeholder
    color: transparent

.form-label-group input::placeholder
    color: transparent

.form-label-group input:not(:placeholder-shown)
    padding-top: 1.25rem
    padding-bottom: .25rem

.form-label-group input:not(:placeholder-shown) ~ label
    padding-top: .25rem
    padding-bottom: .25rem
    font-size: 12px
    color: #777

.dummy-control  
    height: 0px
    padding: 0px

.input-tooltip
    top: auto
    right: 10%
    bottom: 80%

.chart
    position: relative
    width: 90vw

@supports (-ms-ime-align: auto)
    .form-label-group > label
        display: none
    .form-label-group input::-ms-input-placeholder
        color: #777

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
    .form-label-group > label
        display: none

    .form-label-group input:-ms-input-placeholder
        color: #777

@media (max-width: 575.98px)
    .feature-content
        margin-top: 40px
    .input-tooltip
        right: 0        

@media (min-width: 1200px)
  .chart
      width: 65vw
  .table-responsive
      max-width: 65vw
  .feature-content
      max-width: 65vw

