<form #register="ngForm"
        class="form-signin"
        name="register"
        (ngSubmit) = "register.form.valid && onRegister()"
        [mustMatch]= "['password', 'repassword']"
        novalidate
>
    <fieldset [disabled]="formDisabled$|async">
        <div class="text-center mb-4">
            Register and get an access to some awesome data.
        </div>
        <div class="form-label-group">
            <input id="inputRegEmail"
                    type="text"
                    class="form-control"
                    name="loginId"
                    tabindex="1"
                    placeholder="Email address"
                    [ngClass]="{'is-invalid': register.submitted && iLogin.invalid}"
                    [(ngModel)]="loginId"
                    #iLogin="ngModel"
                    required
                    emailValidator
            />
            <label for="inputRegEmail">Email address</label>
            <div *ngIf="register.submitted && iLogin.invalid" class="invalid-feedback">
                <div *ngIf="iLogin.errors.required">Email is required</div>
                <div *ngIf="!iLogin.errors.required && iLogin.errors.validEmail">
                    Email is wrong
                </div>
            </div>
        </div>
        <div class="form-label-group">
            <input id="inputRegPass"
                    type="password"
                    class="form-control"
                    name="password"
                    tabindex="1"
                    autocomplete="off"
                    placeholder="Password"
                    [(ngModel)]="password"
                    [ngClass]="{ 'is-invalid': register.submitted && pass.invalid }"
                    #pass="ngModel"
                    passValidator
            >
            <label for="inputRegPass">Password</label>
            <div *ngIf="register.submitted && pass.invalid" class="invalid-feedback">
                <div *ngIf="pass.errors.required">Password is required</div>
                <div *ngIf="!pass.errors.required && pass.errors.validPassword">
                    Password should contain lower and upper case letters, numbers, special symbols and be at least 8 characters long.
                </div>
            </div>
        </div>
        <div class="form-label-group">
            <input id="inputRegRetypePass"
                    type="password"
                    class="form-control"
                    name="repassword"
                    tabindex="1"
                    autocomplete="off"
                    placeholder="Retype password"
                    [(ngModel)]="repassword"
                    [ngClass]="{ 'is-invalid': register.submitted && repass.invalid }"
                    #repass="ngModel"
            >
            <label for="inputRegRetypePass">Retype password</label>
            <div *ngIf="register.submitted && repass.invalid" class="invalid-feedback">
                <div *ngIf="repass.errors.required">Password is required</div>
                <div *ngIf="!repass.errors.required && repass.errors.mustMatch">Password must match.</div>
            </div>
        </div>
        <div *ngIf="register.submitted" class="form-label-group">
            <div class="form-control is-invalid invisible dummy-control"></div>
            <div class="invalid-feedback">{{errMessage$|async}}</div>
        </div>
    </fieldset>
    <button type="submit"
            class="btn btn-lg btn-primary btn-block"
            [disabled]="formDisabled$|async"
    >
        <span *ngIf="formDisabled$|async" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span *ngIf="formDisabled$|async" class="sr-only">Register...</span>
        Register
    </button>
    <div class="text-center mb-4 my-4 mt-3">
        <a href="/login" (click) = "goLogin()">Already have an account?</a>
    </div>
</form>